<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boot</key>
	<dict>
		<key>Arguments?</key>
		<string>slide=0 darkwake=0</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>\EFI\GRUB\grubx64.efi</string>
		<key>DefaultVolume</key>
		<string>esp</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>LegacyBiosDefaultEntry</key>
		<integer>0</integer>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<false/>
		<key>NoEarlyProgress</key>
		<false/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>10</integer>
		<key>XMPDetection?</key>
		<string>-1</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>0</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Image</key>
					<string>os_linux</string>
					<key>Path</key>
					<string>\efi\grub\grubx64.efi</string>
					<key>Title</key>
					<string>CachyOS</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>CachyOS</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_win</string>
					<key>Path</key>
					<string>\efi\microsoft\bootmgfw.efi</string>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
					<key>FullTitle</key>
					<string>Windows</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_win</string>
					<key>Path</key>
					<string>\efi\microsoft\boot\bootmgfw.efi</string>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
					<key>FullTitle</key>
					<string>Windows - External</string>
					<key>VolumeType</key>
					<string>External</string>
				</dict>
			</array>
		</dict>
		<key>CustomIcons</key>
		<true/>
		<key>EmbeddedThemeType</key>
		<string>Daytime</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClickTime?</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror?</key>
			<false/>
			<key>Speed</key>
			<integer>20</integer>
		</dict>
		<key>PlayAsync</key>
		<true/>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>Scan</key>
		<false/>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Timezone</key>
		<integer>3</integer>
		<key>Theme</key>
		<string>ROG-GameMode</string>
	</dict>
</dict>
</plist>
